body {
	font-family: 'Turret Road', cursive;
}

canvas {
	position: absolute;
	padding: 4rem;
}

.navbar {
background-color: #2b1b26;
}

.navbar {
color: white;
}

.btn:hover {
background-color: #00FF41;
}